card-details-description {
	img {
		position: absolute;
		right: 55%;
		bottom: 0;
	}
	article {
		position: absolute;
		left: 55%;
		top: 150px;
		line-height: 1.2;
	}
	h1 {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	p {
		margin: 10px 0;
		max-width: 300px;
		text-align: justify;
	}
}
