.destroyButton {
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	display: block;
	opacity: 0;
	transition: all 0.2s ease-out;
}

.destroyButton:hover {
	color: #af5b5e;
}

.destroyButton:after {
	content: '×';
}

