.view {

}

.listItem {
}

.listItem .destroyContainer {
	opacity: 0;
	transition: all 0.2s ease-out;
}

.listItem:hover .destroyContainer {
	opacity: 1;
}

.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todoItemList li:hover .destroy {
	opacity: 1;
}
