.card {
	position: relative;
	border: 1px solid #ededed;
	background-color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	width: 33.33%;
	padding: 4px;
}

.cardHeader {
	height: 40px;
	border-bottom: 1px solid #ededed;
}

.cardToggle {
	text-align: center;
	width: 40px;
	height: auto;
	position: absolute;
	bottom: 54px;
	border: none;
	appearance: none;
	left: 0;
	top: 0;
	margin: 0;
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
}

.cardToggle:checked {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.cardDestroy {
	display: none;
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 40px;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
	right: 0;
	top: -3px;
	margin: 0;
}

.cardDestroy:hover {
	color: #af5b5e;
}

.cardDestroy:after {
	content: '×';
}

.card:hover .cardDestroy {
	display: block;
}

.todoLabel {
	word-break: break-all;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
	font-size: 17px;
	padding: 15px;
	word-break: break-word;
	margin: 0;
}

.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}

.listItem .destroyContainer {
	opacity: 0;
	transition: all 0.2s ease-out;
}

.listItem:hover .destroyContainer {
	opacity: 0;
	transition: all 0.2s ease-out;
}

.listItem:hover .destroy {
	opacity: 1;
}
