.card {
	border: 1px solid #ededed;
	background-color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.cardHeader {
	height: 40px;
	border-bottom: 1px solid #ededed;
}

.cardToggle {
	left: 0;
	top: 0;
	margin: 0 !important;
}

.cardDestroy {
	right: 0 !important;
	top: -3px !important;
	margin: 0 !important;
}

.card label {
	font-size: 17px !important;
	padding: 15px !important;
	word-break: break-word !important;
	margin: 0 !important;
}

.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.listItem {
}

.listItem .destroyContainer {
	opacity: 0;
	transition: all 0.2s ease-out;
}

.listItem:hover .destroyContainer {
	opacity: 1;
}

.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todoItemList li:hover .destroy {
	opacity: 1;
}
