.todoDetails {
}

.title {
}

.backdrop {
	position: fixed;
	left: 0;
	top: -0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.75);
}

.modal {
	position: fixed;
	top: 230px;
	left: 50%;
	width: 600px;
	transform: translate(-50%, -50%);
	z-index: 100;
	background-color: #fafafa;
	padding: 16px;
	border-radius: 6px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.close:after {
	position: absolute;
	top: 8px;
	right: 8px;
	content: 'X';
	cursor: pointer;
}

.todoDetailsHeader {
	font-weight: 300;
	font-size: 32px;
	margin-bottom: 12px;
}

.todoDetailsTextArea {
	width: calc(100% - 24px);
	height: 78px;
	padding: 12px;
	margin: 0;
	font-size: 24px;
	font-weight: inherit;
	color: inherit;
	border: 1px solid #ededed;
	resize: none;
}

.lastUpdated {
	float: left;
	line-height: 40px;
}

.toggle {
	height: 40px;
	text-align: center;
	width: 40px;
	margin: auto 0;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	float: right;
}

.toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>')
}

.toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.toggle:focus:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="#e9f5f3" stroke="#bddad5" stroke-width="3"/></svg>');
}

.toggle:checked:focus:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="#e9f5f3" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}
