.search {
	width: calc(100% - 16px);
	color: inherit;
	padding: 12px;
	border: none;
	background-color: transparent;
	font: inherit;
	font-size: 18px;
	padding-left: 60px;
}

.search::placeholder {
	color: #e6e6e6;
}

.searchIcon {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 74px;
	left: 16px;
}

.searchIcon:before {
	content: url('data:image/svg+xml;utf8,<svg version="1.1"	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"	 x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><style type="text/css">	.st0{fill:#EAEAEA;}</style><defs></defs><path class="st0" d="M16.6,10.2c0-1.8-0.6-3.3-1.9-4.6s-2.8-1.9-4.6-1.9S6.9,4.3,5.6,5.6s-1.9,2.8-1.9,4.6s0.6,3.3,1.9,4.6	s2.8,1.9,4.6,1.9s3.3-0.6,4.6-1.9S16.6,11.9,16.6,10.2z M24,22.2c0,0.5-0.2,0.9-0.5,1.3S22.7,24,22.2,24c-0.5,0-1-0.2-1.3-0.5	l-4.9-4.9c-1.7,1.2-3.6,1.8-5.8,1.8c-1.4,0-2.7-0.3-3.9-0.8S3.9,18.3,3,17.3s-1.6-2-2.2-3.2S0,11.5,0,10.2s0.3-2.7,0.8-3.9	S2.1,3.9,3,3s2-1.6,3.2-2.2S8.8,0,10.2,0s2.7,0.3,3.9,0.8s2.3,1.3,3.2,2.2s1.6,2,2.2,3.2s0.8,2.6,0.8,3.9c0,2.1-0.6,4-1.8,5.8	l4.9,4.9C23.8,21.2,24,21.6,24,22.2z"/></svg>');
}
