.todoItemList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todoItemList li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.todoItemList li:first-child {
	border-top: 1px solid #ededed;
}

.todoItemList li:last-child {
	border-bottom: none;
}

.editing {
	border-bottom: none;
	padding: 0;
}

.editing .edit {
	display: block;
	width: 506px;
	padding: 12px 16px;
	margin: 0 0 0 43px;
}

.editing .view {
	display: none;
}

.toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>')
}
.toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}
.toggle:focus:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="#e9f5f3" stroke="#bddad5" stroke-width="3"/></svg>');
}
.toggle:checked:focus:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="#e9f5f3" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle {
		background: none;
		height: 40px;
	}
}

.todoItemList li label {
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	margin: 0 0 0 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todoItemList li label:focus {
	box-shadow: inset 0 0 0 1px #bddad5;
}


.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todoItemList li .destroy {
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	display: block;
	opacity: 0;
	transition: all 0.2s ease-out;
}

.todoItemList li .destroy:hover {
	color: #af5b5e;
}

.todoItemList li .destroy:after {
	content: '×';
}

.todoItemList li:hover .destroy {
	opacity: 1;
}

.edit {
	display: none;
}

.editing:last-child {
	margin-bottom: -1px;
}

.cardList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #f6f6f6;
	padding: 4px;
}

.cardList li {
	width: 32%;
	margin: 2px;
	flex-grow: 1;
	border: none;
}

.empty {
	padding: 0;
}

.emptyFiller {
	width: 32%;
	height: 0;
	margin: 0 2px;
}
