/* TODO: this does not have any effect */
/* It would be preferable to move the typeahead-specific styles from list-item.m.css to here */
.menuItemRoot {
	background: pink !important;
	border: 2px solid purple !important;
	color: red;
	padding-top: 11px;
}

.menuRoot {
	border: 1px solid var(--color-light-gray);
	border-top-width: 0;
}
