assets
*.js
*.js.map
!/*.js
!/tasks/*.js
/_build
/bower_components
/dist
/example
/html-report
/output
/temp-example
/node_modules
/typings
.baseDir.ts
.tscache
.tsconfig*.json
coverage-unmapped.json
npm-debug.log
