.cardSummary {
	display: inline-block;
	margin: 20px;
	text-transform: uppercase;
	width: 192px;
	font-weight: bold;
	h2 {
		margin: 10px 0;
	}
	h2, p {
		padding: 0 10px;
	}
	p {
		font-size: 13px;
	}
	.milestoneCard {
		border-radius: 12px;
		overflow: hidden;
		width: card-width-large;
		height: card-height-large;
	}
}
