&.Cards-Momentum14 {
	background-position: -0px -0px;
}
&.Cards-Mayhem1 {
	background-position: -0px -68px;
}
&.Cards-Mayhem11 {
	background-position: -0px -136px;
}
&.Cards-Mayhem12 {
	background-position: -0px -204px;
}
&.Cards-Mayhem13 {
	background-position: -0px -272px;
}
&.Cards-Mayhem14 {
	background-position: -0px -340px;
}
&.Cards-Mayhem15 {
	background-position: -0px -408px;
}
&.Cards-Mayhem16 {
	background-position: -0px -476px;
}
&.Cards-Mayhem17 {
	background-position: -0px -544px;
}
&.Cards-Mayhem18 {
	background-position: -0px -612px;
}
&.Cards-Mayhem19 {
	background-position: -0px -680px;
}
&.Cards-Mayhem2 {
	background-position: -0px -748px;
}
&.Cards-Mayhem3 {
	background-position: -0px -816px;
}
&.Cards-Mayhem4 {
	background-position: -0px -884px;
}
&.Cards-Mayhem5 {
	background-position: -0px -952px;
}
&.Cards-Mayhem6 {
	background-position: -0px -1020px;
}
&.Cards-Mayhem7 {
	background-position: -0px -1088px;
}
&.Cards-Mayhem8 {
	background-position: -0px -1156px;
}
&.Cards-Mayhem9 {
	background-position: -0px -1224px;
}
&.Cards-Momentum1 {
	background-position: -0px -1292px;
}
&.Cards-Momentum10 {
	background-position: -0px -1360px;
}
&.Cards-Momentum11 {
	background-position: -0px -1428px;
}
&.Cards-Momentum12 {
	background-position: -0px -1496px;
}
&.Cards-Momentum13 {
	background-position: -0px -1564px;
}
&.Cards-Mayhem10 {
	background-position: -0px -1632px;
}
&.Cards-Momentum15 {
	background-position: -0px -1700px;
}
&.Cards-Momentum16 {
	background-position: -0px -1768px;
}
&.Cards-Momentum17 {
	background-position: -0px -1836px;
}
&.Cards-Momentum18 {
	background-position: -0px -1904px;
}
&.Cards-Momentum19 {
	background-position: -0px -1972px;
}
&.Cards-Momentum2 {
	background-position: -0px -2040px;
}
&.Cards-Momentum20 {
	background-position: -0px -2108px;
}
&.Cards-Momentum21 {
	background-position: -0px -2176px;
}
&.Cards-Momentum22 {
	background-position: -0px -2244px;
}
&.Cards-Momentum23 {
	background-position: -0px -2312px;
}
&.Cards-Momentum24 {
	background-position: -0px -2380px;
}
&.Cards-Momentum25 {
	background-position: -0px -2448px;
}
&.Cards-Momentum26 {
	background-position: -0px -2516px;
}
&.Cards-Momentum27 {
	background-position: -0px -2584px;
}
&.Cards-Momentum28 {
	background-position: -0px -2652px;
}
&.Cards-Momentum29 {
	background-position: -0px -2720px;
}
&.Cards-Momentum3 {
	background-position: -0px -2788px;
}
&.Cards-Momentum30 {
	background-position: -0px -2856px;
}
&.Cards-Momentum4 {
	background-position: -0px -2924px;
}
&.Cards-Momentum5 {
	background-position: -0px -2992px;
}
&.Cards-Momentum6 {
	background-position: -0px -3060px;
}
&.Cards-Momentum7 {
	background-position: -0px -3128px;
}
&.Cards-Momentum8 {
	background-position: -0px -3196px;
}
&.Cards-Momentum9 {
	background-position: -0px -3264px;
}
