&.Cards-Momentum14 {
	background-position: -0px -0px;
}
&.Cards-Mayhem1 {
		background-position: -0px -270px;
}
&.Cards-Mayhem11 {
		background-position: -0px -540px;
}
&.Cards-Mayhem12 {
		background-position: -0px -810px;
}
&.Cards-Mayhem13 {
		background-position: -0px -1080px;
}
&.Cards-Mayhem14 {
		background-position: -0px -1350px;
}
&.Cards-Mayhem15 {
		background-position: -0px -1620px;
}
&.Cards-Mayhem16 {
		background-position: -0px -1890px;
}
&.Cards-Mayhem17 {
		background-position: -0px -2160px;
}
&.Cards-Mayhem18 {
		background-position: -0px -2430px;
}
&.Cards-Mayhem19 {
		background-position: -0px -2700px;
}
&.Cards-Mayhem2 {
		background-position: -0px -2970px;
}
&.Cards-Mayhem3 {
		background-position: -0px -3240px;
}
&.Cards-Mayhem4 {
		background-position: -0px -3510px;
}
&.Cards-Mayhem5 {
		background-position: -0px -3780px;
}
&.Cards-Mayhem6 {
		background-position: -0px -4050px;
}
&.Cards-Mayhem7 {
		background-position: -0px -4320px;
}
&.Cards-Mayhem8 {
		background-position: -0px -4590px;
}
&.Cards-Mayhem9 {
		background-position: -0px -4860px;
}
&.Cards-Momentum1 {
		background-position: -0px -5130px;
}
&.Cards-Momentum10 {
		background-position: -0px -5400px;
}
&.Cards-Momentum11 {
		background-position: -0px -5670px;
}
&.Cards-Momentum12 {
		background-position: -0px -5940px;
}
&.Cards-Momentum13 {
		background-position: -0px -6210px;
}
&.Cards-Mayhem10 {
		background-position: -0px -6480px;
}
&.Cards-Momentum15 {
		background-position: -0px -6750px;
}
&.Cards-Momentum16 {
		background-position: -0px -7020px;
}
&.Cards-Momentum17 {
		background-position: -0px -7290px;
}
&.Cards-Momentum18 {
		background-position: -0px -7560px;
}
&.Cards-Momentum19 {
		background-position: -0px -7830px;
}
&.Cards-Momentum2 {
		background-position: -0px -8100px;
}
&.Cards-Momentum20 {
		background-position: -0px -8370px;
}
&.Cards-Momentum21 {
		background-position: -0px -8640px;
}
&.Cards-Momentum22 {
		background-position: -0px -8910px;
}
&.Cards-Momentum23 {
		background-position: -0px -9180px;
}
&.Cards-Momentum24 {
		background-position: -0px -9450px;
}
&.Cards-Momentum25 {
		background-position: -0px -9720px;
}
&.Cards-Momentum26 {
		background-position: -0px -9990px;
}
&.Cards-Momentum27 {
		background-position: -0px -10260px;
}
&.Cards-Momentum28 {
		background-position: -0px -10530px;
}
&.Cards-Momentum29 {
		background-position: -0px -10800px;
}
&.Cards-Momentum3 {
		background-position: -0px -11070px;
}
&.Cards-Momentum30 {
		background-position: -0px -11340px;
}
&.Cards-Momentum4 {
		background-position: -0px -11610px;
}
&.Cards-Momentum5 {
		background-position: -0px -11880px;
}
&.Cards-Momentum6 {
		background-position: -0px -12150px;
}
&.Cards-Momentum7 {
		background-position: -0px -12420px;
}
&.Cards-Momentum8 {
		background-position: -0px -12690px;
}
&.Cards-Momentum9 {
		background-position: -0px -12960px;
}
