.milestoneCard {
	display: inline-block;
	width: card-width-small;
	height: card-height-small;
	border-radius: 4px;
	background: #c5c5c5;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
	}

	&.large {
		width: card-width-large;
		height: card-height-large;
		border-radius: 12px;
	}
}
