html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.root {
	width: 100%;
	top: 0;
	height: 48px;
	z-index: 100;
	background-color: #1d1f20;
}

.menuContainer {
	height: 100%;
	margin: 0 auto;
}

.home {
	float: left;
	cursor: pointer;
}

.logo {
	height: 38px;
	padding: 4px;
}
