@import '../../variables.css';

.root {
	display: flex;
	flex-direction: column;
	margin-top: calc(10 * var(--grid-size));
	height: 100%;
	width: 100%;

	@media (min-width: 661px) {
		flex-direction: row;
	}
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.column:first-child {
	border-bottom: 1px solid var(--color-light-gray);
	margin-bottom: calc(2 * var(--grid-size));
	flex-basis: auto;
	padding-bottom: calc(2 * var(--grid-size));
	padding-right: calc(var(--grid-size) * 5);
	width: calc(var(--grid-size) * 38);

	@media (min-width: 661px) {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.column:last-child {
	flex: 1;
}

.editLink {
	color: var(--color-blue);
	display: block;
	font-size: var(--font-size-normal);
	margin: calc(var(--grid-size) * 1.5) 0 calc(var(--grid-size) * 4);
	text-decoration: none;
}

.linkText {
	margin-right: calc(var(--grid-size) / 2);
}

.showToggle {
	color: var(--color-black);
	cursor: pointer;
	font-size: var(--font-size-normal);
	margin-left: var(--grid-size);
}

.copyButton {
	background-color: var(--color-blue) !important;
	border-bottom-right-radius: calc(var(--grid-size) / 4);
	border-top-right-radius: calc(var(--grid-size) / 4);
	border: 1px solid var(--color-blue);
	height: 100%;
	outline: none;
	width: calc(var(--grid-size) * 5) !important;
}

.successButton {
	background-color: var(--color-green) !important;
	border: 1px solid var(--color-green);
	color: var(--color-white);
}

.hashInput {
	margin: calc(var(--grid-size) * 3.5) 0;
}

.hashInputInner {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
