footer {
	text-align: center;
	background: footer-background;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: footer-height;
	padding: 0 side-padding;
	vertical-align: middle;

	li {
		height: 100%;
		vertical-align: top;

		i {
			padding: 0 10px;
		}

		a,
		i:before {
			line-height: header-height;
		}
	}


	img {
		image-height = 80%;
		position: relative;
		top: ((100 - image-height) / 2);
		height: image-height;
	}
}

@media (max-width: 800px) {
	footer {
		display: none;
	}
}
