 header {
	background-color: header-background;
	height: 45px;

	.search {
		padding: 0 16px;
	}

	li {
		height: 100%;
		a {
			vertical-align: super;
			padding: 0 16px;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			line-height: 45px;
		}
		i {
			height: 100%;
		}
	}

	 li a:hover:not(.active) {
		background-color: darken(header-background, 10%);
	}

	input {
		border: none;
		font-size: 10pt;
		color: #63717f;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
	}

}

@media (max-width: 800px) {
	 header {
		position:fixed;
		left:0px;
		bottom:0px;
		width: 100%;
	}
}
