body, html {
	width: 100%;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

main {
	width: 100%;
	height: 100%;
	position: relative;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.inline-list {
	height: 100%;
	display: inline-block;
	overflow: hidden;
	li {
		list-style: none;
		display: inline-block;
	}
}

