header-height = 45px;
header-background = #ececec;
footer-background = header-background;
footer-height = header-height;
side-padding = 20px;

input-color = #63717f;

// media query sizes
size-portrait-tablet = 800px;
