html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font: 1em/1.5 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans,
		Helvetica Neue;
	color: #404040;
}

h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
	user-select: none;
}
