!/*.js
!/tasks/*.js
.baseDir.ts
.tscache
.tsconfig*.json
*.js
*.js.map
/_build
/bower_components
/dist
/html-report
/node_modules
/typings
coverage-final.lcov
coverage-unmapped.json
coverage/
npm-debug.log
/output
