.root {
	width: 100%;
	height: 100%;
	position: relative;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

.controls {
	height: 25px;
}

.parentContainer {
	display: flex;
}
