.clocks {
	display: flex;
	flex-wrap: wrap;
}

.clocks > * {
	padding: 0 1rem;
}

.formFields {
	align-items: center;
	display: flex;
	margin-bottom: 2rem;
}

.formField {
	margin-right: 1rem;
}

.formField > label {
	margin-right: 0.5rem;
}
