@import '../node_modules/todomvc-app-css/index.css';

:focus {
  border: 1px solid red;
}
/*
.todo-list li .destroy {
  display: block
  bottom: auto;
}

.todo-list li .edit {
  display: block;
}

.todo-list li.editing .view {
  display: block;
}
*/
