.spinner {
	width: 40px;
	height: 40px;
	margin: 100px auto;
	background-color: #333;
	border-radius: 100%;
	animation: sk-scaleout 1s infinite ease-in-out;
}

@keyframes sk-scaleout {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
