.root {
	position: fixed;
	width: 100%;
	top: 0;
	height: 48px;
	z-index: 100;
	background-color: #1d1f20;
}

.menuContainer {
	height: 100%;
	margin: 0 auto;
}

.home {
	float: left;
	cursor: pointer;
}

.logoLoaded {
	height: 38px;
	margin: 4px;
	animation: fadein 0.5s;
	width: 148px;
}

.logo {
	width: 148px;
	opacity: 0;
}

.item {
	height: 100%;
	display: inline-block;
}

.link {
	color: #fff;
	text-decoration: none;
	margin: 0 6.4px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	cursor: pointer;
}

.link::after {
	display: block;
	content: '';
	background: #fff;
	height: 2px;
	position: absolute;
	width: 100%;
	bottom: 0;
	transition: transform 0.3s ease-out;
	transform: translateY(3px);
}

.selected::after {
	transform: translateY(0);
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
