@import './variables.css';

.container {
	align-content: center;
	display: flex;
	justify-content: center;
}

.content {
	max-width: 100vw;
	padding: 0 var(--content-gutter);
	width: var(--content-width);
}
