/*
 * font-family: Montserrat;
 * font-style: normal, italic;
 * font-weight: 400, 700;
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
