@import './fonts.css';

body {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

h1 {
	align-items: center;
	color: var(--color-blue);
	display: flex;
	font-size: var(--font-size-normal);
	font-weight: 900;
	margin: 0;
}

