@import '../../variables.css';

.root {
	margin-bottom: calc(var(--grid-size) * 6);
}

.title {
	margin-bottom: calc(var(--grid-size) * 2.25);
}

.row {
	align-items: center;
	cursor: pointer;
	display: flex;
	margin-bottom: calc(var(--grid-size) * 2);
	user-select: none;
}

.name {
	color: var(--color-gray);
	margin-left: calc(var(--grid-size) * 3);
	position: relative;
	top: calc(var(--grid-size) / -4);
}

.isNew {
	color: var(--color-black);
	font-weight: bold;
}

.isNew .name:after {
	content: '(new!)';
	display: inline-block;
	margin-left: calc(var(--grid-size) / 2);
	font-weight: normal;
	font-style: italic;
	color: var(--color-green);
}
