@import '../../variables.css';

.title {
	margin-bottom: calc(var(--grid-size) * 2);
}

.level {
	align-items: center;
	display: flex;
	margin-right: calc(var(--grid-size) * 1.5);
}

.entry {
	font-size: var(--font-size-normal);
	margin-left: var(--grid-size);
	position: relative;
	top: calc(var(--grid-size) / -4);
}

.level1 {
	color: var(--color-gray);
}

.level2 {
	color: var(--color-teal);
}

.level3 {
	color: var(--color-green);
}

.level4 {
	color: var(--color-light-blue);
}

.skillRow {
	display: flex;
}
