.title {
    text-decoration: none;
    color: #4d4d4d;
}

.domain {
    color: #bfbfbf;
}

.info {
    color: #bfbfbf;
}

.infoLink {
    text-decoration: underline;
    color: #4d4d4d;
}

.story {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #bfbfbf;
}
