.navigation {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.pageNumber {
    margin: 0 10px;
}

.link {
    color: #4d4d4d;
    text-decoration: none;
}

.disabled {
    color: gray;
    text-decoration: none;
}

