html,
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.3125;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	box-sizing: border-box;
}
@media screen and (min-width: 360px) {
	html,
	body {
		font-size: 15px;
	}
}
@media screen and (min-width: 600px) {
	html,
	body {
		font-size: 16px;
	}
}

nav,
demo-menu {
	margin-top: 10px;
	margin-bottom: 10px;
}

h1,
h2,
h3 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h2 {
	font-size: 1.5rem;
	border-bottom: 5px solid darkgrey;
	line-height: 2em;
}

h3 {
	font-size: 1.15rem;
}

p {
	font: inherit;
	font-size: 100%;
	margin: 0;
}
