*.js
*.js.map
!/*.js
!/tasks/*.js
/_build
/bower_components
/dist
/output
/html-report
/node_modules
/coverage
coverage-final.lcov
atypings
.baseDir.ts
.tscache
.tsconfig*.json
coverage-unmapped.json
npm-debug.log
