/* Put your styles and imports here */

.container {
	position: relative;
	padding: 20px 20px 20px 40px;
}

.text {
	overflow: hidden;
	background: #eee;
	padding: 0px 8px;
	box-sizing: border-box;
}

.height {
	position: absolute;
	transition: all 0.6s;
	left: 0;
	top: 50px;
	width: 10px;
	border: 1px solid rgb(170, 30, 30);
	border-right: 0;
}

span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-30%, -50%) rotate(90deg);
}
