.filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

.wrapper {
	display: inline;
}

.link {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.link:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.link.selected {
	border-color: rgba(175, 47, 47, 0.2);
}
