card-details-description {

	button-height = 28px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	.cardImage {
		position: absolute;
		right: 65%;
		bottom: 80px;
	}
	article {
		position: absolute;
		left: 55%;
		top: 150px;
		line-height: 1.2;
	}
	h1 {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	p {
		margin: 10px 0;
		max-width: 300px;
		text-align: justify;
	}
	.addToFavourites {
		i {
			margin-right: input-margin;
		}
	}
	.buttonHolder {
		margin-top: 10px;
		a {
			text-decoration: none;
			text-transform: uppercase;
			margin-right: input-margin;
			min-width: button-height;
			height: button-height;
			display: inline-block;
			text-align: center;
			box-sizing: border-box;
		}
	}
}
