card-details-nav-bar {
	nav-bar-padding = 15px;
	height: card-height-small;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	background: #8e8e8e;
	padding: nav-bar-padding nav-bar-padding nav-bar-padding 0;
	.milestoneCard {
		margin-left: nav-bar-padding;
	}
}
