@import '../../variables.css';

.title {
	background: var(--color-blue);
	border-top-left-radius: calc(var(--grid-size) * 0.75);
	border-top-right-radius: calc(var(--grid-size) * 0.75);
	border: 1px solid var(--color-blue);
	color: var(--color-white);
	font-size: var(--font-size-medium);
	padding: calc(var(--grid-size) * 2);
}

.controls {
	border-bottom-left-radius: calc(var(--grid-size) * 0.75);
	border-bottom-right-radius: calc(var(--grid-size) * 0.75);
	border: 1px solid var(--color-light-gray);
	padding: calc(var(--grid-size) * 3);
}

.input {
	border-radius: var(--input-border-radius);
	border: 1px solid var(--color-light-gray);
	color: var(--color-gray);
	font-family: inherit;
	font-size: var(--font-size-normal);
	height: var(--input-height);
	outline: none;
	padding: 0 calc(var(--grid-size) * 1.25);
	width: 100%;
}

.items {
	margin-top: calc(var(--grid-size) * 2);
}

.listItemRoot {
	height: auto;
}

.listItemSelected {
	background: white;
	color: gray;
}

.menu {
	border: 1px solid var(--color-light-gray);
}

.chip {
	align-items: center;
	border-radius: calc(var(--grid-size) * 0.75);
	border: 1px solid var(--color-light-gray);
	color: var(--color-dark-gray);
	display: inline-flex;
	font-size: var(--font-size-normal);
	margin-bottom: var(--grid-size);
	margin-right: var(--grid-size);
	padding: var(--grid-size) calc(var(--grid-size) * 1.25);
	white-space: nowrap;
}

.chipIcon {
	display: inline-block;
	margin-left: calc(var(--grid-size) / 2);
	position: relative;
	top: 1px;
}
