milestone-card {
	display: inline-block;
	width: card-width-small;
	height: card-height-small;
	border-radius: 4px;
	background: #c5c5c5;

	&.large {
		width: card-width-large;
		height: card-height-large;
		border-radius: 12px;
	}
}
