@import './../node_modules/font-awesome/css/font-awesome.min.css';
@import './../node_modules/animate.css/animate.css';
@import 'variables';
@import 'reset';
@import 'widgets/about/about';
@import 'widgets/common/header'
@import 'widgets/common/general'
@import 'widgets/common/jumbotron'
@import 'widgets/card/milestone-card';
@import 'widgets/card/card-sprite-small';
@import 'widgets/card/card-sprite-large';
@import 'widgets/card/card-summary';
@import 'widgets/card/cards-list';
@import 'widgets/card-details/card-details';
@import 'widgets/card-details/navbar';
@import 'widgets/card-details/description';
@import 'widgets/gameplay/gameplay';
@import 'widgets/home/home';
