@import './../../../../node_modules/font-awesome/css/font-awesome.min.css';
@import './../../../../node_modules/animate.css/animate.css';
@import 'variables';
@import 'reset';
@import 'common/header'
@import 'common/general'
@import 'common/jumbotron'
@import 'card/milestone-card';
@import 'card-details/navbar';
@import 'card-details/description';
