header-height = 72px;
header-background = #ffffff;
side-padding = 20px;

input-color = #63717f;
button-background = #333333;
button-color = #ffffff;

// media query sizes
size-portrait-tablet = 800px;

// small card size
card-height-small = 68px;
card-width-small = 48px;

// large card size
card-height-large = 269px;
card-width-large = 192px;

// input paddings
input-padding = 4px;
input-margin = 4px;

// animation durations
page-animation-duration = 0.5s;
interaction-animation-duration = 0.5s;
