.search {
	width: calc(100% - 16px);
	color: inherit;
	padding: 12px;
	border: none;
	background-color: transparent;
	font: inherit;
	font-size: 18px;
	padding-left: 60px;
}

.search::-webkit-input-placeholder {
	color: #666666 !important;
}

.search::-moz-placeholder {
	color: #666666 !important;
}

.search::input-placeholder {
	color: #666666 !important;
}
