.todoItemList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todoItemList li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.todoItemList li:first-child {
	border-top: 1px solid #ededed;
}

.todoItemList li:last-child {
	border-bottom: none;
}

.editing {
	border-bottom: none;
	padding: 0;
}

.editing .edit {
	display: block;
	width: 506px;
	padding: 12px 16px;
	margin: 0 0 0 43px;
}

.editing .view {
	display: none;
}

.todoItemList li label {
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	margin: 0 0 0 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todoItemList li label:focus {
	box-shadow: inset 0 0 0 1px #bddad5;
}

.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todoItemList li:hover .destroy {
	opacity: 1;
}

.edit {
	display: none;
}

.editing:last-child {
	margin-bottom: -1px;
}

.cardList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #f6f6f6;
	padding: 4px;
}

.cardList li {
	width: 32%;
	margin: 2px;
	flex-grow: 1;
	border: none;
}

.empty {
	padding: 0;
}

.emptyFiller {
	width: 32%;
	height: 0;
	margin: 0 2px;
}
