.card {
	border: 1px solid #ededed;
	background-color: #fdf4cb;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cardHeader {
	height: 40px;
}

.cardToggle {
	left: 0;
	top: 0;
	margin: 0 !important;
}

.cardDestroy {
	right: 0 !important;
	top: -3px !important;
	margin: 0 !important;
}

.card label {
	font-size: 17px !important;
	padding: 15px !important;
	word-break: break-word !important;
	margin: 0 !important;
}

.completed {
}

.completed label {
	color:black;
	text-decoration: line-through;
}
