.todoItemList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todoItemList li {
	position: relative;
	font-size: 24px;
}

.todoItemList li label {
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	margin: 0 0 0 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todoItemList li label:focus {
	box-shadow: inset 0 0 0 1px #bddad5;
}

.todoItemList li:hover .destroy {
	opacity: 1;
}

.edit {
	display: none;
}

.editing:last-child {
	margin-bottom: -1px;
}

.cardList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 4px;
}

.cardList li {
	width: 32%;
	margin: 2px;
	flex-grow: 1;
	border: none;
}

.empty {
	padding: 0;
}

.emptyFiller {
	width: 32%;
	height: 0;
	margin: 0 2px;
}
